@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Google Sans Flex", sans-serif;
}

h1,
h2,
h3,
.card-title {
  font-family: "Google Sans Flex", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Google Sans Flex", sans-serif;
  font-weight: 400;
}
